body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:1400px;
}
#u13038 {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:1400px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:692px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
