body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20794 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
}
#u20795 {
  position:absolute;
  left:2px;
  top:454px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20797 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
}
#u20798 {
  position:absolute;
  left:2px;
  top:22px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u20799 {
  position:absolute;
  left:0px;
  top:1px;
  width:163px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20800 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  word-wrap:break-word;
}
#u20801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20802 {
  position:absolute;
  left:1313px;
  top:18px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20802_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20802.mouseOver {
}
#u20803 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u20804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u20804 {
  position:absolute;
  left:1371px;
  top:25px;
  width:15px;
  height:9px;
}
#u20805 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u20806 {
  position:absolute;
  left:1244px;
  top:20px;
  width:21px;
  height:16px;
}
#u20807 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20808 {
  position:absolute;
  left:1278px;
  top:18px;
  width:20px;
  height:20px;
}
#u20809 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20811 {
  position:absolute;
  left:0px;
  top:59px;
  width:163px;
  height:874px;
}
#u20812 {
  position:absolute;
  left:2px;
  top:429px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20816 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
}
#u20817 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20818 {
  position:absolute;
  left:1px;
  top:130px;
  width:161px;
  height:35px;
}
#u20819 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20820 {
  position:absolute;
  left:1px;
  top:165px;
  width:161px;
  height:35px;
}
#u20821 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20822 {
  position:absolute;
  left:1px;
  top:200px;
  width:161px;
  height:35px;
}
#u20823 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20826 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
}
#u20827 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20828 {
  position:absolute;
  left:1px;
  top:270px;
  width:161px;
  height:35px;
}
#u20829 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20830 {
  position:absolute;
  left:1px;
  top:305px;
  width:161px;
  height:35px;
}
#u20831 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20832 {
  position:absolute;
  left:1px;
  top:340px;
  width:161px;
  height:35px;
}
#u20833 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20834 {
  position:absolute;
  left:1px;
  top:375px;
  width:161px;
  height:35px;
}
#u20835 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20838 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
}
#u20839 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20840 {
  position:absolute;
  left:1px;
  top:585px;
  width:161px;
  height:35px;
}
#u20841 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20842 {
  position:absolute;
  left:1px;
  top:445px;
  width:161px;
  height:35px;
}
#u20843 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20844 {
  position:absolute;
  left:1px;
  top:550px;
  width:161px;
  height:35px;
}
#u20845 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20846 {
  position:absolute;
  left:1px;
  top:620px;
  width:161px;
  height:35px;
}
#u20847 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20848 {
  position:absolute;
  left:1px;
  top:515px;
  width:161px;
  height:35px;
}
#u20849 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20850 {
  position:absolute;
  left:1px;
  top:480px;
  width:161px;
  height:35px;
}
#u20851 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20854 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
}
#u20855 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20856 {
  position:absolute;
  left:1px;
  top:725px;
  width:161px;
  height:35px;
}
#u20857 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20858 {
  position:absolute;
  left:1px;
  top:760px;
  width:161px;
  height:35px;
}
#u20859 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20860 {
  position:absolute;
  left:1px;
  top:795px;
  width:161px;
  height:35px;
}
#u20861 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20862 {
  position:absolute;
  left:1px;
  top:690px;
  width:161px;
  height:35px;
}
#u20863 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20866 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
}
#u20867 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20869 {
  position:absolute;
  left:1px;
  top:865px;
  width:161px;
  height:35px;
}
#u20870 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:581px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20872 {
  position:absolute;
  left:1px;
  top:898px;
  width:161px;
  height:581px;
}
#u20873 {
  position:absolute;
  left:2px;
  top:282px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20874 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20875 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20876 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20877 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20878 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20879 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20880 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20881 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20882 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20883 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20884 {
  position:absolute;
  left:1px;
  top:60px;
  width:161px;
  height:35px;
}
#u20885 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20886 {
  position:absolute;
  left:1px;
  top:165px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20888 {
  position:absolute;
  left:0px;
  top:903px;
  width:1400px;
  height:30px;
}
#u20889 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u20891 {
  position:absolute;
  left:186px;
  top:75px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u20892 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:2px;
}
#u20893 {
  position:absolute;
  left:180px;
  top:107px;
  width:1205px;
  height:1px;
}
#u20894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:501px;
}
#u20895 {
  position:absolute;
  left:180px;
  top:393px;
  width:1205px;
  height:500px;
}
#u20896 {
  position:absolute;
  left:2px;
  top:242px;
  width:1201px;
  word-wrap:break-word;
}
#u20897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:274px;
}
#u20897 {
  position:absolute;
  left:180px;
  top:120px;
  width:1205px;
  height:273px;
}
#u20898 {
  position:absolute;
  left:2px;
  top:128px;
  width:1201px;
  word-wrap:break-word;
}
