body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23671 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
}
#u23672 {
  position:absolute;
  left:2px;
  top:454px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23674 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
}
#u23675 {
  position:absolute;
  left:2px;
  top:22px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u23676 {
  position:absolute;
  left:0px;
  top:1px;
  width:163px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23677 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  word-wrap:break-word;
}
#u23678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23679 {
  position:absolute;
  left:1313px;
  top:18px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23679_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23679.mouseOver {
}
#u23680 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u23681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u23681 {
  position:absolute;
  left:1371px;
  top:25px;
  width:15px;
  height:9px;
}
#u23682 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u23683 {
  position:absolute;
  left:1244px;
  top:20px;
  width:21px;
  height:16px;
}
#u23684 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23685 {
  position:absolute;
  left:1278px;
  top:18px;
  width:20px;
  height:20px;
}
#u23686 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23688 {
  position:absolute;
  left:0px;
  top:59px;
  width:163px;
  height:874px;
}
#u23689 {
  position:absolute;
  left:2px;
  top:429px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23693 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
}
#u23694 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23695 {
  position:absolute;
  left:1px;
  top:130px;
  width:161px;
  height:35px;
}
#u23696 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23697 {
  position:absolute;
  left:1px;
  top:165px;
  width:161px;
  height:35px;
}
#u23698 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23699 {
  position:absolute;
  left:1px;
  top:200px;
  width:161px;
  height:35px;
}
#u23700 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23703 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
}
#u23704 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23705 {
  position:absolute;
  left:1px;
  top:270px;
  width:161px;
  height:35px;
}
#u23706 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23707 {
  position:absolute;
  left:1px;
  top:305px;
  width:161px;
  height:35px;
}
#u23708 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23709 {
  position:absolute;
  left:1px;
  top:340px;
  width:161px;
  height:35px;
}
#u23710 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23711 {
  position:absolute;
  left:1px;
  top:375px;
  width:161px;
  height:35px;
}
#u23712 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23715 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
}
#u23716 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23717 {
  position:absolute;
  left:1px;
  top:585px;
  width:161px;
  height:35px;
}
#u23718 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23719 {
  position:absolute;
  left:1px;
  top:445px;
  width:161px;
  height:35px;
}
#u23720 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23721 {
  position:absolute;
  left:1px;
  top:550px;
  width:161px;
  height:35px;
}
#u23722 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23723 {
  position:absolute;
  left:1px;
  top:620px;
  width:161px;
  height:35px;
}
#u23724 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23725 {
  position:absolute;
  left:1px;
  top:480px;
  width:161px;
  height:35px;
}
#u23726 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23727 {
  position:absolute;
  left:1px;
  top:515px;
  width:161px;
  height:35px;
}
#u23728 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23731 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
}
#u23732 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23733 {
  position:absolute;
  left:1px;
  top:725px;
  width:161px;
  height:35px;
}
#u23734 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23735 {
  position:absolute;
  left:1px;
  top:760px;
  width:161px;
  height:35px;
}
#u23736 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23737 {
  position:absolute;
  left:1px;
  top:795px;
  width:161px;
  height:35px;
}
#u23738 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23739 {
  position:absolute;
  left:1px;
  top:690px;
  width:161px;
  height:35px;
}
#u23740 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23743 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
}
#u23744 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23746 {
  position:absolute;
  left:1px;
  top:865px;
  width:161px;
  height:35px;
}
#u23747 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:581px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23749 {
  position:absolute;
  left:1px;
  top:898px;
  width:161px;
  height:581px;
}
#u23750 {
  position:absolute;
  left:2px;
  top:282px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23751 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23752 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23753 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23754 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23755 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23756 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23757 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23758 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23759 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23760 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23761 {
  position:absolute;
  left:1px;
  top:60px;
  width:161px;
  height:35px;
}
#u23762 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u23764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23764 {
  position:absolute;
  left:0px;
  top:903px;
  width:1400px;
  height:30px;
}
#u23765 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u23767 {
  position:absolute;
  left:186px;
  top:75px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u23768 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:2px;
}
#u23769 {
  position:absolute;
  left:180px;
  top:107px;
  width:1205px;
  height:1px;
}
#u23770 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:501px;
}
#u23771 {
  position:absolute;
  left:180px;
  top:393px;
  width:1205px;
  height:500px;
}
#u23772 {
  position:absolute;
  left:2px;
  top:242px;
  width:1201px;
  word-wrap:break-word;
}
#u23773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:274px;
}
#u23773 {
  position:absolute;
  left:180px;
  top:120px;
  width:1205px;
  height:273px;
}
#u23774 {
  position:absolute;
  left:2px;
  top:128px;
  width:1201px;
  word-wrap:break-word;
}
