body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25179 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:925px;
}
#u25180 {
  position:absolute;
  left:2px;
  top:454px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25182 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
}
#u25183 {
  position:absolute;
  left:2px;
  top:22px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u25184 {
  position:absolute;
  left:0px;
  top:1px;
  width:163px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25185 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  word-wrap:break-word;
}
#u25186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25187 {
  position:absolute;
  left:1313px;
  top:18px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25187_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25187.mouseOver {
}
#u25188 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u25189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u25189 {
  position:absolute;
  left:1371px;
  top:25px;
  width:15px;
  height:9px;
}
#u25190 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u25191 {
  position:absolute;
  left:1244px;
  top:20px;
  width:21px;
  height:16px;
}
#u25192 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25193 {
  position:absolute;
  left:1278px;
  top:18px;
  width:20px;
  height:20px;
}
#u25194 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25196 {
  position:absolute;
  left:0px;
  top:59px;
  width:163px;
  height:874px;
}
#u25197 {
  position:absolute;
  left:2px;
  top:429px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25201 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
}
#u25202 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25203 {
  position:absolute;
  left:1px;
  top:130px;
  width:161px;
  height:35px;
}
#u25204 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25205 {
  position:absolute;
  left:1px;
  top:165px;
  width:161px;
  height:35px;
}
#u25206 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25207 {
  position:absolute;
  left:1px;
  top:200px;
  width:161px;
  height:35px;
}
#u25208 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25211 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
}
#u25212 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25213 {
  position:absolute;
  left:1px;
  top:270px;
  width:161px;
  height:35px;
}
#u25214 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25215 {
  position:absolute;
  left:1px;
  top:305px;
  width:161px;
  height:35px;
}
#u25216 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25217 {
  position:absolute;
  left:1px;
  top:340px;
  width:161px;
  height:35px;
}
#u25218 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25219 {
  position:absolute;
  left:1px;
  top:375px;
  width:161px;
  height:35px;
}
#u25220 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25223 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
}
#u25224 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25225 {
  position:absolute;
  left:1px;
  top:585px;
  width:161px;
  height:35px;
}
#u25226 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25227 {
  position:absolute;
  left:1px;
  top:445px;
  width:161px;
  height:35px;
}
#u25228 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25229 {
  position:absolute;
  left:1px;
  top:550px;
  width:161px;
  height:35px;
}
#u25230 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25231 {
  position:absolute;
  left:1px;
  top:620px;
  width:161px;
  height:35px;
}
#u25232 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25233 {
  position:absolute;
  left:1px;
  top:480px;
  width:161px;
  height:35px;
}
#u25234 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25235 {
  position:absolute;
  left:1px;
  top:515px;
  width:161px;
  height:35px;
}
#u25236 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25239 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
}
#u25240 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25241 {
  position:absolute;
  left:1px;
  top:725px;
  width:161px;
  height:35px;
}
#u25242 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25243 {
  position:absolute;
  left:1px;
  top:760px;
  width:161px;
  height:35px;
}
#u25244 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25245 {
  position:absolute;
  left:1px;
  top:795px;
  width:161px;
  height:35px;
}
#u25246 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25247 {
  position:absolute;
  left:1px;
  top:690px;
  width:161px;
  height:35px;
}
#u25248 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25251 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
}
#u25252 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25254 {
  position:absolute;
  left:1px;
  top:865px;
  width:161px;
  height:35px;
}
#u25255 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:581px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25257 {
  position:absolute;
  left:1px;
  top:898px;
  width:161px;
  height:581px;
}
#u25258 {
  position:absolute;
  left:2px;
  top:282px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25259 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25260 {
  position:absolute;
  left:1px;
  top:830px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25261 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25262 {
  position:absolute;
  left:1px;
  top:655px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25263 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25264 {
  position:absolute;
  left:1px;
  top:410px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25265 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25266 {
  position:absolute;
  left:1px;
  top:235px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25267 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25268 {
  position:absolute;
  left:1px;
  top:95px;
  width:161px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25269 {
  position:absolute;
  left:1px;
  top:60px;
  width:161px;
  height:35px;
}
#u25270 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25272 {
  position:absolute;
  left:0px;
  top:903px;
  width:1400px;
  height:30px;
}
#u25273 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u25275 {
  position:absolute;
  left:186px;
  top:75px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u25276 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:2px;
}
#u25277 {
  position:absolute;
  left:180px;
  top:107px;
  width:1205px;
  height:1px;
}
#u25278 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:501px;
}
#u25279 {
  position:absolute;
  left:180px;
  top:393px;
  width:1205px;
  height:500px;
}
#u25280 {
  position:absolute;
  left:2px;
  top:242px;
  width:1201px;
  word-wrap:break-word;
}
#u25281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:274px;
}
#u25281 {
  position:absolute;
  left:180px;
  top:120px;
  width:1205px;
  height:273px;
}
#u25282 {
  position:absolute;
  left:2px;
  top:128px;
  width:1201px;
  word-wrap:break-word;
}
