body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1538px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1456px;
  height:537px;
}
#u11751 {
  position:absolute;
  left:82px;
  top:99px;
  width:1456px;
  height:537px;
}
#u11752 {
  position:absolute;
  left:2px;
  top:260px;
  width:1452px;
  visibility:hidden;
  word-wrap:break-word;
}
