body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4946 {
  position:absolute;
  left:210px;
  top:120px;
  width:805px;
  height:726px;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4949 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4951 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u4953 {
  position:absolute;
  left:300px;
  top:0px;
  width:500px;
  height:30px;
}
#u4954 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4955 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u4956 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4957 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4959 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u4961 {
  position:absolute;
  left:300px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u4962 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u4963 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:45px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u4965 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:45px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u4967 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:45px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u4969 {
  position:absolute;
  left:300px;
  top:60px;
  width:500px;
  height:45px;
  text-align:left;
}
#u4970 {
  position:absolute;
  left:2px;
  top:6px;
  width:496px;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:105px;
  width:100px;
  height:61px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u4973 {
  position:absolute;
  left:100px;
  top:105px;
  width:100px;
  height:61px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u4975 {
  position:absolute;
  left:200px;
  top:105px;
  width:100px;
  height:61px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:61px;
}
#u4977 {
  position:absolute;
  left:300px;
  top:105px;
  width:500px;
  height:61px;
  text-align:left;
}
#u4978 {
  position:absolute;
  left:2px;
  top:6px;
  width:496px;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:44px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u4981 {
  position:absolute;
  left:100px;
  top:166px;
  width:100px;
  height:44px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u4983 {
  position:absolute;
  left:200px;
  top:166px;
  width:100px;
  height:44px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
}
#u4985 {
  position:absolute;
  left:300px;
  top:166px;
  width:500px;
  height:44px;
  text-align:left;
}
#u4986 {
  position:absolute;
  left:2px;
  top:6px;
  width:496px;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4987 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:100px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4989 {
  position:absolute;
  left:100px;
  top:210px;
  width:100px;
  height:100px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4991 {
  position:absolute;
  left:200px;
  top:210px;
  width:100px;
  height:100px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u4993 {
  position:absolute;
  left:300px;
  top:210px;
  width:500px;
  height:100px;
  text-align:left;
}
#u4994 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u4995 {
  position:absolute;
  left:0px;
  top:310px;
  width:100px;
  height:115px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u4997 {
  position:absolute;
  left:100px;
  top:310px;
  width:100px;
  height:115px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u4999 {
  position:absolute;
  left:200px;
  top:310px;
  width:100px;
  height:115px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:115px;
}
#u5001 {
  position:absolute;
  left:300px;
  top:310px;
  width:500px;
  height:115px;
  text-align:left;
}
#u5002 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:425px;
  width:100px;
  height:85px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u5005 {
  position:absolute;
  left:100px;
  top:425px;
  width:100px;
  height:85px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u5007 {
  position:absolute;
  left:200px;
  top:425px;
  width:100px;
  height:85px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:85px;
}
#u5009 {
  position:absolute;
  left:300px;
  top:425px;
  width:500px;
  height:85px;
  text-align:left;
}
#u5010 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:510px;
  width:100px;
  height:52px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u5013 {
  position:absolute;
  left:100px;
  top:510px;
  width:100px;
  height:52px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u5015 {
  position:absolute;
  left:200px;
  top:510px;
  width:100px;
  height:52px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u5017 {
  position:absolute;
  left:300px;
  top:510px;
  width:500px;
  height:52px;
  text-align:left;
}
#u5018 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u5019 {
  position:absolute;
  left:0px;
  top:562px;
  width:100px;
  height:64px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u5021 {
  position:absolute;
  left:100px;
  top:562px;
  width:100px;
  height:64px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u5023 {
  position:absolute;
  left:200px;
  top:562px;
  width:100px;
  height:64px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:64px;
}
#u5025 {
  position:absolute;
  left:300px;
  top:562px;
  width:500px;
  height:64px;
  text-align:left;
}
#u5026 {
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:626px;
  width:100px;
  height:95px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u5029 {
  position:absolute;
  left:100px;
  top:626px;
  width:100px;
  height:95px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u5031 {
  position:absolute;
  left:200px;
  top:626px;
  width:100px;
  height:95px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:95px;
}
#u5033 {
  position:absolute;
  left:300px;
  top:626px;
  width:500px;
  height:95px;
  text-align:left;
}
#u5034 {
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  word-wrap:break-word;
}
