
#u19673 {
  position:absolute;
  left:180px;
  top:485px;
  width:1144px;
  height:95px;
}
#u19674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19674 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19675 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u19676 {
  position:absolute;
  left:30px;
  top:0px;
  width:40px;
  height:30px;
}
#u19677 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u19678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19678 {
  position:absolute;
  left:70px;
  top:0px;
  width:80px;
  height:30px;
}
#u19679 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19680 {
  position:absolute;
  left:150px;
  top:0px;
  width:120px;
  height:30px;
}
#u19681 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19682 {
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:30px;
}
#u19683 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19684 {
  position:absolute;
  left:350px;
  top:0px;
  width:60px;
  height:30px;
}
#u19685 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19686 {
  position:absolute;
  left:410px;
  top:0px;
  width:120px;
  height:30px;
}
#u19687 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19688 {
  position:absolute;
  left:530px;
  top:0px;
  width:100px;
  height:30px;
}
#u19689 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19690 {
  position:absolute;
  left:630px;
  top:0px;
  width:100px;
  height:30px;
}
#u19691 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19692 {
  position:absolute;
  left:730px;
  top:0px;
  width:87px;
  height:30px;
}
#u19693 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19694 {
  position:absolute;
  left:817px;
  top:0px;
  width:87px;
  height:30px;
}
#u19695 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19696 {
  position:absolute;
  left:904px;
  top:0px;
  width:87px;
  height:30px;
}
#u19697 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u19698 {
  position:absolute;
  left:991px;
  top:0px;
  width:148px;
  height:30px;
}
#u19699 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u19700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19700 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:30px;
}
#u19701 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u19702 {
  position:absolute;
  left:30px;
  top:30px;
  width:40px;
  height:30px;
}
#u19702_img.mouseOver {
}
#u19702.mouseOver {
}
#u19703 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19704 {
  position:absolute;
  left:70px;
  top:30px;
  width:80px;
  height:30px;
}
#u19704_img.mouseOver {
}
#u19704.mouseOver {
}
#u19705 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19706 {
  position:absolute;
  left:150px;
  top:30px;
  width:120px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u19707 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u19708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19708 {
  position:absolute;
  left:270px;
  top:30px;
  width:80px;
  height:30px;
}
#u19709 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19710 {
  position:absolute;
  left:350px;
  top:30px;
  width:60px;
  height:30px;
}
#u19711 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19712 {
  position:absolute;
  left:410px;
  top:30px;
  width:120px;
  height:30px;
}
#u19713 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19714 {
  position:absolute;
  left:530px;
  top:30px;
  width:100px;
  height:30px;
}
#u19715 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19716 {
  position:absolute;
  left:630px;
  top:30px;
  width:100px;
  height:30px;
}
#u19717 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19718 {
  position:absolute;
  left:730px;
  top:30px;
  width:87px;
  height:30px;
}
#u19719 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19720 {
  position:absolute;
  left:817px;
  top:30px;
  width:87px;
  height:30px;
}
#u19721 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19722 {
  position:absolute;
  left:904px;
  top:30px;
  width:87px;
  height:30px;
}
#u19723 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u19724 {
  position:absolute;
  left:991px;
  top:30px;
  width:148px;
  height:30px;
}
#u19725 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19726 {
  position:absolute;
  left:0px;
  top:60px;
  width:30px;
  height:30px;
}
#u19727 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u19728 {
  position:absolute;
  left:30px;
  top:60px;
  width:40px;
  height:30px;
}
#u19728_img.mouseOver {
}
#u19728.mouseOver {
}
#u19729 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19730 {
  position:absolute;
  left:70px;
  top:60px;
  width:80px;
  height:30px;
}
#u19730_img.mouseOver {
}
#u19730.mouseOver {
}
#u19731 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19732 {
  position:absolute;
  left:150px;
  top:60px;
  width:120px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u19733 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u19734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19734 {
  position:absolute;
  left:270px;
  top:60px;
  width:80px;
  height:30px;
}
#u19735 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u19736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19736 {
  position:absolute;
  left:350px;
  top:60px;
  width:60px;
  height:30px;
}
#u19737 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19738 {
  position:absolute;
  left:410px;
  top:60px;
  width:120px;
  height:30px;
}
#u19739 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19740 {
  position:absolute;
  left:530px;
  top:60px;
  width:100px;
  height:30px;
}
#u19741 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19742 {
  position:absolute;
  left:630px;
  top:60px;
  width:100px;
  height:30px;
}
#u19743 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19744 {
  position:absolute;
  left:730px;
  top:60px;
  width:87px;
  height:30px;
}
#u19745 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19746 {
  position:absolute;
  left:817px;
  top:60px;
  width:87px;
  height:30px;
}
#u19747 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u19748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19748 {
  position:absolute;
  left:904px;
  top:60px;
  width:87px;
  height:30px;
}
#u19749 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u19750 {
  position:absolute;
  left:991px;
  top:60px;
  width:148px;
  height:30px;
}
#u19751 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19753 {
  position:absolute;
  left:188px;
  top:522px;
  width:14px;
  height:16px;
}
#u19754 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19753_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19755 {
  position:absolute;
  left:188px;
  top:552px;
  width:14px;
  height:16px;
}
#u19756 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19755_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19758 {
  position:absolute;
  left:212px;
  top:585px;
  width:10px;
  height:10px;
}
#u19759 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u19760 {
  position:absolute;
  left:224px;
  top:582px;
  width:57px;
  height:16px;
  color:#0033FF;
}
#u19761 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19763 {
  position:absolute;
  left:772px;
  top:16px;
  width:23px;
  height:1202px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19764 {
  position:absolute;
  left:2px;
  top:593px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:836px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19765 {
  position:absolute;
  left:613px;
  top:199px;
  width:20px;
  height:836px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19766 {
  position:absolute;
  left:2px;
  top:410px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u19767 {
  position:absolute;
  left:1364px;
  top:612px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19768 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u19769 {
  position:absolute;
  left:184px;
  top:612px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19770 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19772 {
  position:absolute;
  left:1364px;
  top:485px;
  width:23px;
  height:118px;
}
#u19773 {
  position:absolute;
  left:2px;
  top:51px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  position:absolute;
  left:1366px;
  top:506px;
  width:19px;
  height:45px;
}
#u19775 {
  position:absolute;
  left:2px;
  top:14px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u19776 {
  position:absolute;
  left:1367px;
  top:490px;
  width:17px;
  height:10px;
}
#u19777 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u19778 {
  position:absolute;
  left:1367px;
  top:588px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19779 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u19781 {
  position:absolute;
  left:219px;
  top:522px;
  width:24px;
  height:16px;
}
#u19782 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u19783 {
  position:absolute;
  left:219px;
  top:552px;
  width:24px;
  height:16px;
}
#u19784 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19785 {
  position:absolute;
  left:218px;
  top:521px;
  width:26px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19786 {
  position:absolute;
  left:218px;
  top:551px;
  width:26px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19788 {
  position:absolute;
  left:390px;
  top:302px;
  width:559px;
  height:350px;
}
#u19789 {
  position:absolute;
  left:2px;
  top:167px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19790 {
  position:absolute;
  left:929px;
  top:302px;
  width:20px;
  height:20px;
}
#u19791 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19794 {
  position:absolute;
  left:425px;
  top:362px;
  width:43px;
  height:16px;
}
#u19795 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u19796 {
  position:absolute;
  left:482px;
  top:362px;
  width:29px;
  height:16px;
  text-decoration:underline;
}
#u19797 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19799 {
  position:absolute;
  left:570px;
  top:362px;
  width:57px;
  height:16px;
}
#u19800 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u19801 {
  position:absolute;
  left:641px;
  top:362px;
  width:89px;
  height:16px;
  text-decoration:underline;
}
#u19802 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u19803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19804 {
  position:absolute;
  left:425px;
  top:398px;
  width:57px;
  height:16px;
}
#u19805 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19806 {
  position:absolute;
  left:496px;
  top:395px;
  width:212px;
  height:22px;
}
#u19806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19806_input:disabled {
  color:grayText;
}
#u19807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19808 {
  position:absolute;
  left:425px;
  top:436px;
  width:57px;
  height:16px;
}
#u19809 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19810 {
  position:absolute;
  left:496px;
  top:436px;
  width:420px;
  height:155px;
}
#u19810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:155px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u19811 {
  position:absolute;
  left:404px;
  top:340px;
  width:530px;
  height:1px;
}
#u19812 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19813 {
  position:absolute;
  left:421px;
  top:317px;
  width:85px;
  height:16px;
}
#u19814 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19816 {
  position:absolute;
  left:874px;
  top:611px;
  width:60px;
  height:20px;
}
#u19817 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u19818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19818 {
  position:absolute;
  left:801px;
  top:611px;
  width:60px;
  height:20px;
}
#u19819 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
