
#u20086 {
  position:absolute;
  left:334px;
  top:1453px;
  width:159px;
  height:22px;
}
#u20086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20086_input:disabled {
  color:grayText;
}
#u20087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20087 {
  position:absolute;
  left:210px;
  top:881px;
  width:57px;
  height:16px;
}
#u20088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20090 {
  position:absolute;
  left:229px;
  top:1485px;
  width:105px;
  height:16px;
  font-size:14px;
}
#u20091 {
  position:absolute;
  left:16px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u20090_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20092 {
  position:absolute;
  left:334px;
  top:1485px;
  width:946px;
  height:66px;
}
#u20092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:71px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20094 {
  position:absolute;
  left:180px;
  top:669px;
  width:1205px;
  height:71px;
}
#u20095 {
  position:absolute;
  left:2px;
  top:28px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20098 {
  position:absolute;
  left:1005px;
  top:712px;
  width:57px;
  height:16px;
}
#u20099 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20100 {
  position:absolute;
  left:1088px;
  top:709px;
  width:233px;
  height:25px;
}
#u20100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20100_input:disabled {
  color:grayText;
}
#u20101 {
  position:absolute;
  left:1088px;
  top:709px;
  width:233px;
  height:25px;
}
#u20101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20101_input:disabled {
  color:grayText;
}
#u20102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20103 {
  position:absolute;
  left:611px;
  top:712px;
  width:57px;
  height:16px;
}
#u20104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20105 {
  position:absolute;
  left:694px;
  top:709px;
  width:233px;
  height:25px;
}
#u20105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20105_input:disabled {
  color:grayText;
}
#u20106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20107 {
  position:absolute;
  left:210px;
  top:712px;
  width:57px;
  height:16px;
}
#u20108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20109 {
  position:absolute;
  left:293px;
  top:709px;
  width:233px;
  height:25px;
}
#u20109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20109_input:disabled {
  color:grayText;
}
#u20110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20112 {
  position:absolute;
  left:210px;
  top:680px;
  width:57px;
  height:16px;
}
#u20113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20114 {
  position:absolute;
  left:293px;
  top:677px;
  width:233px;
  height:25px;
}
#u20114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20114_input:disabled {
  color:grayText;
}
#u20115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20116 {
  position:absolute;
  left:694px;
  top:677px;
  width:233px;
  height:25px;
}
#u20116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20117 {
  position:absolute;
  left:611px;
  top:680px;
  width:57px;
  height:16px;
}
#u20118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20121 {
  position:absolute;
  left:196px;
  top:747px;
  width:71px;
  height:16px;
  text-align:right;
}
#u20122 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20123 {
  position:absolute;
  left:293px;
  top:742px;
}
#u20123_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20123_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20124 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
}
#u20125 {
  position:absolute;
  left:2px;
  top:4px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u20126 {
  position:absolute;
  left:213px;
  top:9px;
  width:11px;
  height:8px;
}
#u20127 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20123_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u20123_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20128 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
}
#u20129 {
  position:absolute;
  left:2px;
  top:4px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20131 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
.u20131_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20131.mouseOver {
}
.u20132 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20130-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u20130-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:233px;
  height:30px;
}
#u20130-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:233px;
  height:30px;
}
#u20130-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:233px;
  height:30px;
}
#u20130-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:233px;
  height:30px;
}
#u20130 {
  position:absolute;
  left:0px;
  top:48px;
  width:233px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20133 {
  position:absolute;
  left:0px;
  top:24px;
  width:233px;
  height:25px;
}
#u20133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u20134 {
  position:absolute;
  left:213px;
  top:9px;
  width:11px;
  height:8px;
}
#u20135 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20136 {
  position:absolute;
  left:213px;
  top:31px;
  width:12px;
  height:12px;
}
#u20137 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20139 {
  position:absolute;
  left:9px;
  top:86px;
  width:18px;
  height:16px;
}
#u20140 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20141 {
  position:absolute;
  left:9px;
  top:116px;
  width:18px;
  height:16px;
}
#u20142 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20143 {
  position:absolute;
  left:9px;
  top:146px;
  width:18px;
  height:16px;
}
#u20144 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20145 {
  position:absolute;
  left:9px;
  top:175px;
  width:18px;
  height:16px;
}
#u20146 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20147 {
  position:absolute;
  left:9px;
  top:56px;
  width:18px;
  height:16px;
}
#u20148 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20150 {
  position:absolute;
  left:694px;
  top:743px;
  width:627px;
  height:25px;
}
#u20150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u20151 {
  position:absolute;
  left:596px;
  top:748px;
  width:71px;
  height:16px;
  font-size:14px;
  text-align:right;
}
#u20152 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20153 {
  position:absolute;
  left:1240px;
  top:1567px;
  width:115px;
  height:30px;
}
#u20154 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u20155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:103px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20156 {
  position:absolute;
  left:180px;
  top:772px;
  width:1205px;
  height:103px;
}
#u20157 {
  position:absolute;
  left:2px;
  top:44px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20159 {
  position:absolute;
  left:223px;
  top:813px;
  width:43px;
  height:19px;
  text-align:right;
}
#u20160 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20162 {
  position:absolute;
  left:395px;
  top:810px;
  width:175px;
  height:25px;
}
#u20162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20162_input:disabled {
  color:grayText;
}
#u20163 {
  position:absolute;
  left:295px;
  top:813px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20166 {
  position:absolute;
  left:748px;
  top:810px;
  width:175px;
  height:25px;
}
#u20166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20166_input:disabled {
  color:grayText;
}
#u20167 {
  position:absolute;
  left:648px;
  top:813px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20168 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20170 {
  position:absolute;
  left:1105px;
  top:809px;
  width:175px;
  height:25px;
}
#u20170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20170_input:disabled {
  color:grayText;
}
#u20171 {
  position:absolute;
  left:1005px;
  top:812px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20172 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20174 {
  position:absolute;
  left:395px;
  top:845px;
  width:175px;
  height:25px;
}
#u20174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20174_input:disabled {
  color:grayText;
}
#u20175 {
  position:absolute;
  left:295px;
  top:848px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20178 {
  position:absolute;
  left:748px;
  top:845px;
  width:175px;
  height:25px;
}
#u20178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20178_input:disabled {
  color:grayText;
}
#u20179 {
  position:absolute;
  left:648px;
  top:848px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20180 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20182 {
  position:absolute;
  left:1105px;
  top:844px;
  width:175px;
  height:25px;
}
#u20182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20182_input:disabled {
  color:grayText;
}
#u20183 {
  position:absolute;
  left:1005px;
  top:847px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u20184 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u20186 {
  position:absolute;
  left:210px;
  top:780px;
  width:57px;
  height:19px;
  text-align:right;
}
#u20187 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20188 {
  position:absolute;
  left:293px;
  top:777px;
  width:233px;
  height:25px;
}
#u20188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u20188_input:disabled {
  color:grayText;
}
