body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21858 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
}
#u21859 {
  position:absolute;
  left:2px;
  top:22px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u21860 {
  position:absolute;
  left:0px;
  top:1px;
  width:163px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u21861 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  word-wrap:break-word;
}
#u21862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21863 {
  position:absolute;
  left:1313px;
  top:18px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21863_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21863.mouseOver {
}
#u21864 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u21865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u21865 {
  position:absolute;
  left:1371px;
  top:25px;
  width:15px;
  height:9px;
}
#u21866 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u21867 {
  position:absolute;
  left:1244px;
  top:20px;
  width:21px;
  height:16px;
}
#u21868 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21869 {
  position:absolute;
  left:1278px;
  top:18px;
  width:20px;
  height:20px;
}
#u21870 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21872 {
  position:absolute;
  left:0px;
  top:903px;
  width:1400px;
  height:30px;
}
#u21873 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21875 {
  position:absolute;
  left:210px;
  top:353px;
  width:1205px;
  height:227px;
}
#u21876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u21876 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u21877 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u21878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21878 {
  position:absolute;
  left:60px;
  top:0px;
  width:120px;
  height:30px;
}
#u21879 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u21880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21880 {
  position:absolute;
  left:180px;
  top:0px;
  width:100px;
  height:30px;
}
#u21881 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u21882 {
  position:absolute;
  left:280px;
  top:0px;
  width:300px;
  height:30px;
}
#u21883 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u21884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u21884 {
  position:absolute;
  left:580px;
  top:0px;
  width:180px;
  height:30px;
}
#u21885 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u21886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21886 {
  position:absolute;
  left:760px;
  top:0px;
  width:120px;
  height:30px;
}
#u21887 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u21888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21888 {
  position:absolute;
  left:880px;
  top:0px;
  width:100px;
  height:30px;
}
#u21889 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21890 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:30px;
}
#u21891 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21892 {
  position:absolute;
  left:1080px;
  top:0px;
  width:120px;
  height:30px;
}
#u21893 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u21894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:84px;
}
#u21894 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:84px;
}
#u21895 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:84px;
}
#u21896 {
  position:absolute;
  left:60px;
  top:30px;
  width:120px;
  height:84px;
}
#u21897 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u21898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u21898 {
  position:absolute;
  left:180px;
  top:30px;
  width:100px;
  height:84px;
}
#u21899 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u21900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
}
#u21900 {
  position:absolute;
  left:280px;
  top:30px;
  width:300px;
  height:84px;
}
#u21901 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u21902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:84px;
}
#u21902 {
  position:absolute;
  left:580px;
  top:30px;
  width:180px;
  height:84px;
}
#u21903 {
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u21904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:84px;
}
#u21904 {
  position:absolute;
  left:760px;
  top:30px;
  width:120px;
  height:84px;
}
#u21905 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u21906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u21906 {
  position:absolute;
  left:880px;
  top:30px;
  width:100px;
  height:84px;
}
#u21907 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u21908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u21908 {
  position:absolute;
  left:980px;
  top:30px;
  width:100px;
  height:84px;
}
#u21909 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u21910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:84px;
}
#u21910 {
  position:absolute;
  left:1080px;
  top:30px;
  width:120px;
  height:84px;
}
#u21911 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u21912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u21912 {
  position:absolute;
  left:0px;
  top:114px;
  width:60px;
  height:40px;
}
#u21913 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u21914 {
  position:absolute;
  left:60px;
  top:114px;
  width:120px;
  height:40px;
}
#u21915 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21916 {
  position:absolute;
  left:180px;
  top:114px;
  width:100px;
  height:40px;
}
#u21917 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u21918 {
  position:absolute;
  left:280px;
  top:114px;
  width:300px;
  height:40px;
}
#u21919 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u21920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21920 {
  position:absolute;
  left:580px;
  top:114px;
  width:180px;
  height:40px;
}
#u21921 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u21922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u21922 {
  position:absolute;
  left:760px;
  top:114px;
  width:120px;
  height:40px;
}
#u21923 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21924 {
  position:absolute;
  left:880px;
  top:114px;
  width:100px;
  height:40px;
}
#u21925 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21926 {
  position:absolute;
  left:980px;
  top:114px;
  width:100px;
  height:40px;
}
#u21927 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u21928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u21928 {
  position:absolute;
  left:1080px;
  top:114px;
  width:120px;
  height:40px;
}
#u21929 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u21930 {
  position:absolute;
  left:0px;
  top:154px;
  width:60px;
  height:68px;
}
#u21931 {
  position:absolute;
  left:2px;
  top:26px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:68px;
}
#u21932 {
  position:absolute;
  left:60px;
  top:154px;
  width:120px;
  height:68px;
}
#u21933 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u21934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u21934 {
  position:absolute;
  left:180px;
  top:154px;
  width:100px;
  height:68px;
}
#u21935 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u21936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
}
#u21936 {
  position:absolute;
  left:280px;
  top:154px;
  width:300px;
  height:68px;
}
#u21937 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u21938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
}
#u21938 {
  position:absolute;
  left:580px;
  top:154px;
  width:180px;
  height:68px;
}
#u21939 {
  position:absolute;
  left:2px;
  top:26px;
  width:176px;
  word-wrap:break-word;
}
#u21940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:68px;
}
#u21940 {
  position:absolute;
  left:760px;
  top:154px;
  width:120px;
  height:68px;
}
#u21941 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u21942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u21942 {
  position:absolute;
  left:880px;
  top:154px;
  width:100px;
  height:68px;
}
#u21943 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u21944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u21944 {
  position:absolute;
  left:980px;
  top:154px;
  width:100px;
  height:68px;
}
#u21945 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u21946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:68px;
}
#u21946 {
  position:absolute;
  left:1080px;
  top:154px;
  width:120px;
  height:68px;
}
#u21947 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u21948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21950 {
  position:absolute;
  left:686px;
  top:706px;
  width:15px;
  height:16px;
}
#u21951 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21952 {
  position:absolute;
  left:705px;
  top:706px;
  width:18px;
  height:16px;
}
#u21953 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u21954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21954 {
  position:absolute;
  left:726px;
  top:706px;
  width:15px;
  height:16px;
}
#u21955 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u21956 {
  position:absolute;
  left:750px;
  top:706px;
  width:1px;
  height:16px;
}
#u21957 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21958 {
  position:absolute;
  left:759px;
  top:706px;
  width:49px;
  height:16px;
}
#u21959 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21960 {
  position:absolute;
  left:815px;
  top:706px;
  width:43px;
  height:16px;
}
#u21961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u21962 {
  position:absolute;
  left:868px;
  top:706px;
  width:1px;
  height:16px;
}
#u21963 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21964 {
  position:absolute;
  left:879px;
  top:706px;
  width:57px;
  height:16px;
}
#u21965 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21966 {
  position:absolute;
  left:943px;
  top:706px;
  width:43px;
  height:16px;
}
#u21966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21966_input:disabled {
  color:grayText;
}
#u21967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21967 {
  position:absolute;
  left:993px;
  top:706px;
  width:43px;
  height:16px;
}
#u21968 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u21969 {
  position:absolute;
  left:1046px;
  top:706px;
  width:1px;
  height:16px;
}
#u21970 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21971 {
  position:absolute;
  left:1057px;
  top:706px;
  width:43px;
  height:16px;
}
#u21972 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21973 {
  position:absolute;
  left:1108px;
  top:706px;
  width:38px;
  height:16px;
}
#u21973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21974 {
  position:absolute;
  left:1153px;
  top:706px;
  width:15px;
  height:16px;
}
#u21975 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21978 {
  position:absolute;
  left:263px;
  top:703px;
  width:24px;
  height:22px;
}
#u21979 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21980 {
  position:absolute;
  left:297px;
  top:703px;
  width:24px;
  height:22px;
}
#u21981 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21982 {
  position:absolute;
  left:331px;
  top:703px;
  width:24px;
  height:22px;
}
#u21983 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21984 {
  position:absolute;
  left:365px;
  top:703px;
  width:24px;
  height:22px;
}
#u21985 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21986 {
  position:absolute;
  left:399px;
  top:703px;
  width:24px;
  height:22px;
}
#u21987 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21988 {
  position:absolute;
  left:433px;
  top:703px;
  width:24px;
  height:22px;
}
#u21989 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21990 {
  position:absolute;
  left:467px;
  top:703px;
  width:24px;
  height:22px;
}
#u21991 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21992 {
  position:absolute;
  left:501px;
  top:703px;
  width:24px;
  height:22px;
}
#u21993 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21994 {
  position:absolute;
  left:535px;
  top:703px;
  width:24px;
  height:22px;
}
#u21995 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21996 {
  position:absolute;
  left:569px;
  top:703px;
  width:24px;
  height:22px;
}
#u21997 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u21998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u21999 {
  position:absolute;
  left:605px;
  top:705px;
  width:11px;
  height:18px;
}
#u22000 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u22001 {
  position:absolute;
  left:628px;
  top:705px;
  width:19px;
  height:18px;
}
#u22002 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u22004 {
  position:absolute;
  left:240px;
  top:705px;
  width:11px;
  height:18px;
}
#u22005 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u22006 {
  position:absolute;
  left:210px;
  top:705px;
  width:19px;
  height:18px;
}
#u22007 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22009 {
  position:absolute;
  left:1362px;
  top:387px;
  width:23px;
  height:309px;
}
#u22010 {
  position:absolute;
  left:2px;
  top:146px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:170px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22011 {
  position:absolute;
  left:1364px;
  top:408px;
  width:19px;
  height:170px;
}
#u22012 {
  position:absolute;
  left:2px;
  top:77px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u22013 {
  position:absolute;
  left:1365px;
  top:392px;
  width:17px;
  height:10px;
}
#u22014 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u22015 {
  position:absolute;
  left:1365px;
  top:681px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22016 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22018 {
  position:absolute;
  left:226px;
  top:416px;
  width:31px;
  height:20px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u22020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22020 {
  position:absolute;
  left:226px;
  top:478px;
  width:31px;
  height:20px;
}
#u22021 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u22022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22022 {
  position:absolute;
  left:226px;
  top:532px;
  width:31px;
  height:20px;
}
#u22023 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u22024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1237px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22025 {
  position:absolute;
  left:163px;
  top:210px;
  width:1237px;
  height:117px;
}
#u22026 {
  position:absolute;
  left:2px;
  top:50px;
  width:1233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22028 {
  position:absolute;
  left:1307px;
  top:276px;
  width:78px;
  height:31px;
}
#u22029 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u22030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22030 {
  position:absolute;
  left:1220px;
  top:276px;
  width:78px;
  height:31px;
}
#u22031 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u22032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22032 {
  position:absolute;
  left:1197px;
  top:317px;
  width:78px;
  height:31px;
}
#u22033 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u22034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22034 {
  position:absolute;
  left:1285px;
  top:317px;
  width:100px;
  height:31px;
}
#u22035 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22038 {
  position:absolute;
  left:211px;
  top:236px;
  width:29px;
  height:16px;
  text-align:right;
}
#u22039 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22040 {
  position:absolute;
  left:255px;
  top:233px;
  width:184px;
  height:22px;
}
#u22040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22040_input:disabled {
  color:grayText;
}
#u22041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22043 {
  position:absolute;
  left:772px;
  top:237px;
  width:43px;
  height:16px;
  text-align:right;
}
#u22044 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22045 {
  position:absolute;
  left:825px;
  top:233px;
  width:199px;
  height:22px;
}
#u22045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22045_input:disabled {
  color:grayText;
}
#u22046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22047 {
  position:absolute;
  left:486px;
  top:236px;
  width:57px;
  height:16px;
  text-align:right;
}
#u22048 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22049 {
  position:absolute;
  left:558px;
  top:233px;
  width:169px;
  height:22px;
}
#u22049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22049_input:disabled {
  color:grayText;
}
#u22050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22052 {
  position:absolute;
  left:163px;
  top:120px;
  width:1237px;
  height:80px;
}
#u22053 {
  position:absolute;
  left:2px;
  top:32px;
  width:1233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22055 {
  position:absolute;
  left:440px;
  top:150px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u22056 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
}
#u22057 {
  position:absolute;
  left:547px;
  top:150px;
  width:89px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
}
#u22058 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u22059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22060 {
  position:absolute;
  left:211px;
  top:150px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u22061 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u22062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
}
#u22062 {
  position:absolute;
  left:350px;
  top:150px;
  width:54px;
  height:16px;
  font-size:16px;
  text-decoration:underline;
}
#u22063 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22065 {
  position:absolute;
  left:1286px;
  top:142px;
  width:100px;
  height:35px;
}
#u22066 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u22067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u22067 {
  position:absolute;
  left:1150px;
  top:142px;
  width:121px;
  height:35px;
  color:#1E1E1E;
}
#u22068 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u22069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u22070 {
  position:absolute;
  left:186px;
  top:75px;
  width:249px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u22071 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u22072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:2px;
}
#u22072 {
  position:absolute;
  left:180px;
  top:107px;
  width:1205px;
  height:1px;
}
#u22073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22075 {
  position:absolute;
  left:541px;
  top:187px;
  width:502px;
  height:271px;
}
#u22076 {
  position:absolute;
  left:2px;
  top:128px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22078 {
  position:absolute;
  left:910px;
  top:404px;
  width:90px;
  height:28px;
}
#u22079 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u22080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22080 {
  position:absolute;
  left:808px;
  top:404px;
  width:90px;
  height:28px;
}
#u22081 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u22082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u22082 {
  position:absolute;
  left:567px;
  top:235px;
  width:461px;
  height:1px;
}
#u22083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22084 {
  position:absolute;
  left:567px;
  top:209px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u22085 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
