body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1211px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18288 {
  position:absolute;
  left:161px;
  top:119px;
  width:1055px;
  height:505px;
}
#u18289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18289 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18290 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18291 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18292 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u18293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18293 {
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u18294 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18295 {
  position:absolute;
  left:50px;
  top:50px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18296 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u18297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18297 {
  position:absolute;
  left:0px;
  top:100px;
  width:50px;
  height:50px;
}
#u18298 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18299 {
  position:absolute;
  left:50px;
  top:100px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18300 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u18301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18301 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:50px;
}
#u18302 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18303 {
  position:absolute;
  left:50px;
  top:150px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18304 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18305 {
  position:absolute;
  left:0px;
  top:200px;
  width:50px;
  height:50px;
}
#u18306 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18307 {
  position:absolute;
  left:50px;
  top:200px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18308 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18309 {
  position:absolute;
  left:0px;
  top:250px;
  width:50px;
  height:50px;
}
#u18310 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18311 {
  position:absolute;
  left:50px;
  top:250px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18312 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18313 {
  position:absolute;
  left:0px;
  top:300px;
  width:50px;
  height:50px;
}
#u18314 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18315 {
  position:absolute;
  left:50px;
  top:300px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18316 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18317 {
  position:absolute;
  left:0px;
  top:350px;
  width:50px;
  height:50px;
}
#u18318 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18319 {
  position:absolute;
  left:50px;
  top:350px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18320 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18321 {
  position:absolute;
  left:0px;
  top:400px;
  width:50px;
  height:50px;
}
#u18322 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18323 {
  position:absolute;
  left:50px;
  top:400px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18324 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18325 {
  position:absolute;
  left:0px;
  top:450px;
  width:50px;
  height:50px;
}
#u18326 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u18327 {
  position:absolute;
  left:50px;
  top:450px;
  width:1000px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u18328 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
