
#u11762 {
  position:absolute;
  left:544px;
  top:616px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11763 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11764 {
  position:absolute;
  left:1371px;
  top:740px;
  width:0px;
  height:0px;
}
#u11764_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:162px;
  height:8px;
}
#u11764_seg1 {
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11765 {
  position:absolute;
  left:29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11766 {
  position:absolute;
  left:1529px;
  top:713px;
  width:245px;
  height:54px;
  color:#000000;
}
#u11767 {
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u11768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:36px;
}
#u11768 {
  position:absolute;
  left:197px;
  top:612px;
  width:337px;
  height:36px;
  font-size:18px;
}
#u11769 {
  position:absolute;
  left:2px;
  top:10px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u11771 {
  position:absolute;
  left:1163px;
  top:381px;
  width:110px;
  height:38px;
  font-size:18px;
}
#u11772 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11773 {
  position:absolute;
  left:1218px;
  top:419px;
  width:0px;
  height:0px;
}
#u11773_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u11773_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:300px;
  height:8px;
}
#u11773_seg2 {
  position:absolute;
  left:288px;
  top:-4px;
  width:8px;
  height:19px;
}
#u11773_seg3 {
  position:absolute;
  left:288px;
  top:-4px;
  width:23px;
  height:8px;
}
#u11773_seg4 {
  position:absolute;
  left:296px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11774 {
  position:absolute;
  left:106px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11775 {
  position:absolute;
  left:1529px;
  top:402px;
  width:155px;
  height:34px;
  color:#000000;
}
#u11776 {
  position:absolute;
  left:10px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u11777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:38px;
}
#u11778 {
  position:absolute;
  left:173px;
  top:104px;
  width:195px;
  height:38px;
  font-size:18px;
}
#u11779 {
  position:absolute;
  left:2px;
  top:11px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11780 {
  position:absolute;
  left:368px;
  top:123px;
  width:0px;
  height:0px;
}
#u11780_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1084px;
  height:8px;
}
#u11780_seg1 {
  position:absolute;
  left:1076px;
  top:-4px;
  width:8px;
  height:58px;
}
#u11780_seg2 {
  position:absolute;
  left:1076px;
  top:46px;
  width:86px;
  height:8px;
}
#u11780_seg3 {
  position:absolute;
  left:1146px;
  top:40px;
  width:20px;
  height:20px;
}
#u11781 {
  position:absolute;
  left:556px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11782 {
  position:absolute;
  left:1529px;
  top:145px;
  width:210px;
  height:55px;
  color:#000000;
}
#u11783 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u11784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:38px;
}
#u11785 {
  position:absolute;
  left:268px;
  top:143px;
  width:195px;
  height:38px;
  font-size:18px;
}
#u11786 {
  position:absolute;
  left:2px;
  top:11px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11787 {
  position:absolute;
  left:463px;
  top:162px;
  width:0px;
  height:0px;
}
#u11787_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:969px;
  height:8px;
}
#u11787_seg1 {
  position:absolute;
  left:961px;
  top:-4px;
  width:8px;
  height:110px;
}
#u11787_seg2 {
  position:absolute;
  left:961px;
  top:98px;
  width:106px;
  height:8px;
}
#u11787_seg3 {
  position:absolute;
  left:1051px;
  top:92px;
  width:20px;
  height:20px;
}
#u11788 {
  position:absolute;
  left:534px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11789 {
  position:absolute;
  left:1529px;
  top:247px;
  width:210px;
  height:33px;
  color:#000000;
}
#u11790 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u11791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:559px;
}
#u11792 {
  position:absolute;
  left:218px;
  top:835px;
  width:106px;
  height:559px;
  font-size:18px;
}
#u11793 {
  position:absolute;
  left:2px;
  top:272px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11794 {
  position:absolute;
  left:478px;
  top:826px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11795 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11796 {
  position:absolute;
  left:271px;
  top:1394px;
  width:0px;
  height:0px;
}
#u11796_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u11796_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:1256px;
  height:8px;
}
#u11796_seg2 {
  position:absolute;
  left:1244px;
  top:35px;
  width:8px;
  height:9px;
}
#u11796_seg3 {
  position:absolute;
  left:1244px;
  top:35px;
  width:14px;
  height:8px;
}
#u11796_seg4 {
  position:absolute;
  left:1243px;
  top:29px;
  width:20px;
  height:20px;
}
#u11797 {
  position:absolute;
  left:560px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11798 {
  position:absolute;
  left:1529px;
  top:1416px;
  width:128px;
  height:34px;
  color:#000000;
}
#u11799 {
  position:absolute;
  left:10px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u11800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u11800 {
  position:absolute;
  left:327px;
  top:842px;
  width:171px;
  height:30px;
  font-size:18px;
}
#u11801 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11802 {
  position:absolute;
  left:1529px;
  top:839px;
  width:292px;
  height:36px;
  color:#000000;
}
#u11803 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u11804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11804 {
  position:absolute;
  left:974px;
  top:826px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11805 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
}
#u11806 {
  position:absolute;
  left:508px;
  top:842px;
  width:486px;
  height:30px;
  font-size:18px;
}
#u11807 {
  position:absolute;
  left:2px;
  top:7px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11808 {
  position:absolute;
  left:994px;
  top:857px;
  width:0px;
  height:0px;
}
#u11808_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:539px;
  height:8px;
}
#u11808_seg1 {
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11809 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11810 {
  position:absolute;
  left:413px;
  top:872px;
  width:0px;
  height:0px;
}
#u11810_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u11810_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:808px;
  height:8px;
}
#u11810_seg2 {
  position:absolute;
  left:796px;
  top:-19px;
  width:8px;
  height:23px;
}
#u11810_seg3 {
  position:absolute;
  left:796px;
  top:-19px;
  width:321px;
  height:8px;
}
#u11810_seg4 {
  position:absolute;
  left:1101px;
  top:-25px;
  width:20px;
  height:20px;
}
#u11811 {
  position:absolute;
  left:516px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u11812 {
  position:absolute;
  left:328px;
  top:876px;
  width:435px;
  height:30px;
  font-size:18px;
}
#u11813 {
  position:absolute;
  left:2px;
  top:7px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11814 {
  position:absolute;
  left:1529px;
  top:885px;
  width:319px;
  height:36px;
  color:#000000;
}
#u11815 {
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
#u11816 {
  position:absolute;
  left:763px;
  top:891px;
  width:0px;
  height:0px;
}
#u11816_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:751px;
  height:8px;
}
#u11816_seg1 {
  position:absolute;
  left:743px;
  top:-4px;
  width:8px;
  height:20px;
}
#u11816_seg2 {
  position:absolute;
  left:743px;
  top:8px;
  width:23px;
  height:8px;
}
#u11816_seg3 {
  position:absolute;
  left:751px;
  top:2px;
  width:20px;
  height:20px;
}
#u11817 {
  position:absolute;
  left:339px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:65px;
}
#u11819 {
  position:absolute;
  left:330px;
  top:911px;
  width:766px;
  height:65px;
  font-size:18px;
}
#u11820 {
  position:absolute;
  left:2px;
  top:24px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11821 {
  position:absolute;
  left:1096px;
  top:944px;
  width:0px;
  height:0px;
}
#u11821_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:418px;
  height:8px;
}
#u11821_seg1 {
  position:absolute;
  left:410px;
  top:-4px;
  width:8px;
  height:24px;
}
#u11821_seg2 {
  position:absolute;
  left:410px;
  top:12px;
  width:23px;
  height:8px;
}
#u11821_seg3 {
  position:absolute;
  left:418px;
  top:6px;
  width:20px;
  height:20px;
}
#u11822 {
  position:absolute;
  left:174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11823 {
  position:absolute;
  left:1529px;
  top:943px;
  width:292px;
  height:33px;
  color:#000000;
}
#u11824 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u11825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11825 {
  position:absolute;
  left:403px;
  top:919px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u11826 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
