
#u12665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:956px;
}
#u12666 {
  position:absolute;
  left:162px;
  top:648px;
  width:1251px;
  height:956px;
  font-size:18px;
}
#u12667 {
  position:absolute;
  left:2px;
  top:470px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12668 {
  position:absolute;
  left:12px;
  top:765px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12669 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u12670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:297px;
}
#u12671 {
  position:absolute;
  left:162px;
  top:2090px;
  width:1251px;
  height:297px;
  font-size:18px;
}
#u12672 {
  position:absolute;
  left:2px;
  top:140px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12673 {
  position:absolute;
  left:12px;
  top:2164px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12674 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u12675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:466px;
}
#u12676 {
  position:absolute;
  left:162px;
  top:1614px;
  width:1312px;
  height:466px;
  font-size:18px;
}
#u12677 {
  position:absolute;
  left:2px;
  top:225px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12678 {
  position:absolute;
  left:12px;
  top:1703px;
  width:140px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12679 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u12680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:356px;
}
#u12681 {
  position:absolute;
  left:162px;
  top:108px;
  width:1251px;
  height:356px;
  font-size:18px;
}
#u12682 {
  position:absolute;
  left:2px;
  top:170px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12683 {
  position:absolute;
  left:12px;
  top:235px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u12684 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u12685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:107px;
}
#u12686 {
  position:absolute;
  left:197px;
  top:767px;
  width:1113px;
  height:107px;
  font-size:18px;
}
#u12687 {
  position:absolute;
  left:2px;
  top:46px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12688 {
  position:absolute;
  left:544px;
  top:670px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u12689 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12690 {
  position:absolute;
  left:1310px;
  top:821px;
  width:0px;
  height:0px;
}
#u12690_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u12690_seg1 {
  position:absolute;
  left:204px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12691 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12692 {
  position:absolute;
  left:1529px;
  top:794px;
  width:245px;
  height:54px;
  color:#000000;
}
#u12693 {
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u12694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:36px;
}
#u12694 {
  position:absolute;
  left:197px;
  top:666px;
  width:337px;
  height:36px;
  font-size:18px;
}
#u12695 {
  position:absolute;
  left:2px;
  top:10px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:36px;
}
#u12696 {
  position:absolute;
  left:595px;
  top:670px;
  width:337px;
  height:36px;
  font-size:18px;
}
#u12697 {
  position:absolute;
  left:2px;
  top:10px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698 {
  position:absolute;
  left:932px;
  top:688px;
  width:0px;
  height:0px;
}
#u12698_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:541px;
  height:8px;
}
#u12698_seg1 {
  position:absolute;
  left:533px;
  top:-4px;
  width:8px;
  height:141px;
}
#u12698_seg2 {
  position:absolute;
  left:533px;
  top:129px;
  width:64px;
  height:8px;
}
#u12698_seg3 {
  position:absolute;
  left:582px;
  top:123px;
  width:20px;
  height:20px;
}
#u12699 {
  position:absolute;
  left:315px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
}
#u12701 {
  position:absolute;
  left:1249px;
  top:410px;
  width:124px;
  height:38px;
  font-size:18px;
}
#u12702 {
  position:absolute;
  left:2px;
  top:11px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12703 {
  position:absolute;
  left:1373px;
  top:429px;
  width:0px;
  height:0px;
}
#u12703_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u12703_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12704 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12705 {
  position:absolute;
  left:1529px;
  top:412px;
  width:225px;
  height:34px;
  color:#000000;
}
#u12706 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12708 {
  position:absolute;
  left:484px;
  top:898px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u12709 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u12710 {
  position:absolute;
  left:329px;
  top:914px;
  width:171px;
  height:30px;
  font-size:18px;
}
#u12711 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12712 {
  position:absolute;
  left:1535px;
  top:911px;
  width:292px;
  height:36px;
  color:#000000;
}
#u12713 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u12714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12714 {
  position:absolute;
  left:980px;
  top:898px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u12715 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
}
#u12716 {
  position:absolute;
  left:514px;
  top:914px;
  width:486px;
  height:30px;
  font-size:18px;
}
#u12717 {
  position:absolute;
  left:2px;
  top:7px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12718 {
  position:absolute;
  left:1000px;
  top:929px;
  width:0px;
  height:0px;
}
#u12718_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:539px;
  height:8px;
}
#u12718_seg1 {
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12719 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12720 {
  position:absolute;
  left:415px;
  top:944px;
  width:0px;
  height:0px;
}
#u12720_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:808px;
  height:8px;
}
#u12720_seg1 {
  position:absolute;
  left:800px;
  top:-19px;
  width:8px;
  height:23px;
}
#u12720_seg2 {
  position:absolute;
  left:800px;
  top:-19px;
  width:321px;
  height:8px;
}
#u12720_seg3 {
  position:absolute;
  left:1105px;
  top:-25px;
  width:20px;
  height:20px;
}
#u12721 {
  position:absolute;
  left:518px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:599px;
}
#u12723 {
  position:absolute;
  left:221px;
  top:912px;
  width:100px;
  height:599px;
  font-size:18px;
}
#u12724 {
  position:absolute;
  left:2px;
  top:292px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12725 {
  position:absolute;
  left:271px;
  top:1511px;
  width:0px;
  height:0px;
}
#u12725_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u12725_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:1268px;
  height:8px;
}
#u12725_seg2 {
  position:absolute;
  left:1249px;
  top:1px;
  width:20px;
  height:20px;
}
#u12726 {
  position:absolute;
  left:576px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12727 {
  position:absolute;
  left:1535px;
  top:1505px;
  width:128px;
  height:34px;
  color:#000000;
}
#u12728 {
  position:absolute;
  left:10px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u12729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u12730 {
  position:absolute;
  left:329px;
  top:948px;
  width:435px;
  height:30px;
  font-size:18px;
}
#u12731 {
  position:absolute;
  left:2px;
  top:7px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12732 {
  position:absolute;
  left:1535px;
  top:960px;
  width:319px;
  height:50px;
  color:#000000;
}
#u12733 {
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
#u12734 {
  position:absolute;
  left:764px;
  top:963px;
  width:0px;
  height:0px;
}
#u12734_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:712px;
  height:8px;
}
#u12734_seg1 {
  position:absolute;
  left:704px;
  top:-4px;
  width:8px;
  height:30px;
}
#u12734_seg2 {
  position:absolute;
  left:704px;
  top:18px;
  width:67px;
  height:8px;
}
#u12734_seg3 {
  position:absolute;
  left:756px;
  top:12px;
  width:20px;
  height:20px;
}
#u12735 {
  position:absolute;
  left:346px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12736 {
  position:absolute;
  left:437px;
  top:954px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u12737 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12738 {
  position:absolute;
  left:754px;
  top:953px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u12739 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:497px;
}
#u12741 {
  position:absolute;
  left:326px;
  top:983px;
  width:725px;
  height:497px;
  font-size:18px;
}
#u12742 {
  position:absolute;
  left:2px;
  top:240px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12743 {
  position:absolute;
  left:1535px;
  top:1207px;
  width:174px;
  height:50px;
  color:#000000;
}
#u12744 {
  position:absolute;
  left:10px;
  top:17px;
  width:154px;
  word-wrap:break-word;
}
#u12745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12745 {
  position:absolute;
  left:559px;
  top:1214px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12746 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12747 {
  position:absolute;
  left:1051px;
  top:1232px;
  width:0px;
  height:0px;
}
#u12747_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:488px;
  height:8px;
}
#u12747_seg1 {
  position:absolute;
  left:469px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12748 {
  position:absolute;
  left:192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12749 {
  position:absolute;
  left:955px;
  top:1214px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12750 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12751 {
  position:absolute;
  left:439px;
  top:1451px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12752 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:97px;
}
#u12754 {
  position:absolute;
  left:197px;
  top:118px;
  width:1176px;
  height:97px;
  font-size:18px;
}
#u12755 {
  position:absolute;
  left:2px;
  top:40px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12756 {
  position:absolute;
  left:1373px;
  top:167px;
  width:0px;
  height:0px;
}
#u12756_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u12756_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12757 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12758 {
  position:absolute;
  left:1529px;
  top:143px;
  width:225px;
  height:48px;
  color:#000000;
}
#u12759 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:37px;
}
#u12761 {
  position:absolute;
  left:194px;
  top:317px;
  width:752px;
  height:37px;
  font-size:18px;
}
#u12762 {
  position:absolute;
  left:2px;
  top:10px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12763 {
  position:absolute;
  left:570px;
  top:354px;
  width:0px;
  height:0px;
}
#u12763_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u12763_seg1 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:901px;
  height:8px;
}
#u12763_seg2 {
  position:absolute;
  left:889px;
  top:-1px;
  width:8px;
  height:28px;
}
#u12763_seg3 {
  position:absolute;
  left:889px;
  top:19px;
  width:70px;
  height:8px;
}
#u12763_seg4 {
  position:absolute;
  left:944px;
  top:13px;
  width:20px;
  height:20px;
}
#u12764 {
  position:absolute;
  left:438px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12765 {
  position:absolute;
  left:1529px;
  top:352px;
  width:225px;
  height:50px;
  color:#000000;
}
#u12766 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:95px;
}
#u12768 {
  position:absolute;
  left:188px;
  top:220px;
  width:1197px;
  height:95px;
  font-size:18px;
}
#u12769 {
  position:absolute;
  left:2px;
  top:40px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12770 {
  position:absolute;
  left:1385px;
  top:268px;
  width:0px;
  height:0px;
}
#u12770_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u12770_seg1 {
  position:absolute;
  left:129px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12771 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12772 {
  position:absolute;
  left:1529px;
  top:239px;
  width:225px;
  height:57px;
  color:#000000;
}
#u12773 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12774 {
  position:absolute;
  left:341px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12775 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12776 {
  position:absolute;
  left:684px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12777 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12778 {
  position:absolute;
  left:1211px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u12779 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:57px;
}
#u12781 {
  position:absolute;
  left:215px;
  top:516px;
  width:71px;
  height:57px;
  font-size:18px;
}
#u12782 {
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12783 {
  position:absolute;
  left:286px;
  top:545px;
  width:0px;
  height:0px;
}
#u12783_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u12783_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1085px;
  height:8px;
}
#u12783_seg2 {
  position:absolute;
  left:1073px;
  top:-4px;
  width:8px;
  height:9px;
}
#u12783_seg3 {
  position:absolute;
  left:1073px;
  top:-4px;
  width:114px;
  height:8px;
}
#u12783_seg4 {
  position:absolute;
  left:1179px;
  top:-4px;
  width:8px;
  height:54px;
}
#u12783_seg5 {
  position:absolute;
  left:1179px;
  top:42px;
  width:64px;
  height:8px;
}
#u12783_seg6 {
  position:absolute;
  left:1228px;
  top:36px;
  width:20px;
  height:20px;
}
#u12784 {
  position:absolute;
  left:594px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12785 {
  position:absolute;
  left:1529px;
  top:574px;
  width:225px;
  height:34px;
  color:#000000;
}
#u12786 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u12787 {
  position:absolute;
  left:205px;
  top:576px;
  width:81px;
  height:28px;
  font-size:18px;
}
#u12788 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12789 {
  position:absolute;
  left:286px;
  top:590px;
  width:0px;
  height:0px;
}
#u12789_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u12789_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:1247px;
  height:8px;
}
#u12789_seg2 {
  position:absolute;
  left:1228px;
  top:-9px;
  width:20px;
  height:20px;
}
#u12790 {
  position:absolute;
  left:571px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:35px;
}
#u12792 {
  position:absolute;
  left:176px;
  top:480px;
  width:1189px;
  height:35px;
  font-size:18px;
}
#u12793 {
  position:absolute;
  left:2px;
  top:10px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12794 {
  position:absolute;
  left:1365px;
  top:498px;
  width:0px;
  height:0px;
}
#u12794_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:168px;
  height:8px;
}
#u12794_seg1 {
  position:absolute;
  left:149px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12795 {
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12796 {
  position:absolute;
  left:1529px;
  top:473px;
  width:225px;
  height:50px;
  color:#000000;
}
#u12797 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:70px;
}
#u12799 {
  position:absolute;
  left:188px;
  top:2148px;
  width:1185px;
  height:70px;
  font-size:18px;
}
#u12800 {
  position:absolute;
  left:2px;
  top:27px;
  width:1181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12801 {
  position:absolute;
  left:1373px;
  top:2183px;
  width:0px;
  height:0px;
}
#u12801_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u12801_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12802 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12803 {
  position:absolute;
  left:1529px;
  top:2130px;
  width:355px;
  height:106px;
  color:#000000;
}
#u12804 {
  position:absolute;
  left:10px;
  top:21px;
  width:335px;
  word-wrap:break-word;
}
#u12805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:57px;
}
#u12806 {
  position:absolute;
  left:205px;
  top:1635px;
  width:1254px;
  height:57px;
  font-size:18px;
}
#u12807 {
  position:absolute;
  left:2px;
  top:20px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12808 {
  position:absolute;
  left:1459px;
  top:1664px;
  width:0px;
  height:0px;
}
#u12808_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u12808_seg1 {
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12809 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12810 {
  position:absolute;
  left:1535px;
  top:1635px;
  width:270px;
  height:57px;
  color:#000000;
}
#u12811 {
  position:absolute;
  left:10px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u12812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:366px;
}
#u12813 {
  position:absolute;
  left:889px;
  top:1636px;
  width:451px;
  height:366px;
  font-size:18px;
}
#u12814 {
  position:absolute;
  left:2px;
  top:175px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815 {
  position:absolute;
  left:1340px;
  top:1819px;
  width:0px;
  height:0px;
}
#u12815_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u12815_seg1 {
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12816 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12817 {
  position:absolute;
  left:1535px;
  top:1776px;
  width:270px;
  height:85px;
  color:#000000;
}
#u12818 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u12819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:38px;
}
#u12820 {
  position:absolute;
  left:987px;
  top:317px;
  width:295px;
  height:38px;
  font-size:18px;
}
#u12821 {
  position:absolute;
  left:2px;
  top:11px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822 {
  position:absolute;
  left:1282px;
  top:336px;
  width:0px;
  height:0px;
}
#u12822_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:630px;
  height:8px;
}
#u12822_seg1 {
  position:absolute;
  left:611px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12823 {
  position:absolute;
  left:263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12824 {
  position:absolute;
  left:1908px;
  top:312px;
  width:225px;
  height:47px;
  color:#000000;
}
#u12825 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u12826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:683px;
}
#u12826 {
  position:absolute;
  left:2167px;
  top:312px;
  width:1062px;
  height:683px;
}
#u12827 {
  position:absolute;
  left:2px;
  top:334px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:110px;
}
#u12829 {
  position:absolute;
  left:194px;
  top:352px;
  width:683px;
  height:110px;
  font-size:18px;
}
#u12830 {
  position:absolute;
  left:2px;
  top:47px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12831 {
  position:absolute;
  left:877px;
  top:407px;
  width:0px;
  height:0px;
}
#u12831_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u12831_seg1 {
  position:absolute;
  left:196px;
  top:-4px;
  width:8px;
  height:65px;
}
#u12831_seg2 {
  position:absolute;
  left:196px;
  top:53px;
  width:835px;
  height:8px;
}
#u12831_seg3 {
  position:absolute;
  left:1016px;
  top:47px;
  width:20px;
  height:20px;
}
#u12832 {
  position:absolute;
  left:437px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u12833 {
  position:absolute;
  left:1908px;
  top:430px;
  width:249px;
  height:67px;
  color:#000000;
}
#u12834 {
  position:absolute;
  left:10px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u12835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12835 {
  position:absolute;
  left:1410px;
  top:68px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
