
#u11699 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11700 {
  position:absolute;
  left:404px;
  top:222px;
  width:80px;
  height:36px;
}
#u11701 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11702 {
  position:absolute;
  left:484px;
  top:222px;
  width:80px;
  height:36px;
}
#u11703 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11704 {
  position:absolute;
  left:564px;
  top:222px;
  width:120px;
  height:36px;
}
#u11705 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u11706 {
  position:absolute;
  left:684px;
  top:222px;
  width:150px;
  height:36px;
}
#u11707 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u11708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:36px;
}
#u11708 {
  position:absolute;
  left:834px;
  top:222px;
  width:295px;
  height:36px;
  text-decoration:underline;
}
#u11709 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u11710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11710 {
  position:absolute;
  left:1129px;
  top:222px;
  width:120px;
  height:36px;
}
#u11711 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u11712 {
  position:absolute;
  left:0px;
  top:258px;
  width:100px;
  height:65px;
}
#u11713 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u11714 {
  position:absolute;
  left:100px;
  top:258px;
  width:80px;
  height:65px;
}
#u11715 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u11716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:65px;
}
#u11716 {
  position:absolute;
  left:180px;
  top:258px;
  width:144px;
  height:65px;
  font-size:14px;
}
#u11717 {
  position:absolute;
  left:2px;
  top:24px;
  width:140px;
  word-wrap:break-word;
}
#u11718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u11718 {
  position:absolute;
  left:324px;
  top:258px;
  width:80px;
  height:65px;
}
#u11719 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u11720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u11720 {
  position:absolute;
  left:404px;
  top:258px;
  width:80px;
  height:65px;
}
#u11721 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u11722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u11722 {
  position:absolute;
  left:484px;
  top:258px;
  width:80px;
  height:65px;
}
#u11723 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u11724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:65px;
}
#u11724 {
  position:absolute;
  left:564px;
  top:258px;
  width:120px;
  height:65px;
}
#u11725 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  word-wrap:break-word;
}
#u11726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:65px;
}
#u11726 {
  position:absolute;
  left:684px;
  top:258px;
  width:150px;
  height:65px;
}
#u11727 {
  position:absolute;
  left:2px;
  top:24px;
  width:146px;
  word-wrap:break-word;
}
#u11728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:65px;
}
#u11728 {
  position:absolute;
  left:834px;
  top:258px;
  width:295px;
  height:65px;
  text-align:left;
}
#u11729 {
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u11730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:65px;
}
#u11730 {
  position:absolute;
  left:1129px;
  top:258px;
  width:120px;
  height:65px;
}
#u11731 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  word-wrap:break-word;
}
#u11732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u11732 {
  position:absolute;
  left:0px;
  top:323px;
  width:100px;
  height:36px;
}
#u11733 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11734 {
  position:absolute;
  left:100px;
  top:323px;
  width:80px;
  height:36px;
}
#u11735 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u11736 {
  position:absolute;
  left:180px;
  top:323px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u11737 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u11738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11738 {
  position:absolute;
  left:324px;
  top:323px;
  width:80px;
  height:36px;
}
#u11739 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11740 {
  position:absolute;
  left:404px;
  top:323px;
  width:80px;
  height:36px;
}
#u11741 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11742 {
  position:absolute;
  left:484px;
  top:323px;
  width:80px;
  height:36px;
}
#u11743 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11744 {
  position:absolute;
  left:564px;
  top:323px;
  width:120px;
  height:36px;
}
#u11745 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u11746 {
  position:absolute;
  left:684px;
  top:323px;
  width:150px;
  height:36px;
}
#u11747 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:36px;
}
#u11748 {
  position:absolute;
  left:834px;
  top:323px;
  width:295px;
  height:36px;
  text-align:left;
}
#u11749 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u11750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11750 {
  position:absolute;
  left:1129px;
  top:323px;
  width:120px;
  height:36px;
}
#u11751 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u11752 {
  position:absolute;
  left:0px;
  top:359px;
  width:100px;
  height:36px;
}
#u11753 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11754 {
  position:absolute;
  left:100px;
  top:359px;
  width:80px;
  height:36px;
}
#u11755 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u11756 {
  position:absolute;
  left:180px;
  top:359px;
  width:144px;
  height:36px;
  font-size:14px;
}
#u11757 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u11758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11758 {
  position:absolute;
  left:324px;
  top:359px;
  width:80px;
  height:36px;
}
#u11759 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11760 {
  position:absolute;
  left:404px;
  top:359px;
  width:80px;
  height:36px;
}
#u11761 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u11762 {
  position:absolute;
  left:484px;
  top:359px;
  width:80px;
  height:36px;
}
#u11763 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11764 {
  position:absolute;
  left:564px;
  top:359px;
  width:120px;
  height:36px;
}
#u11765 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u11766 {
  position:absolute;
  left:684px;
  top:359px;
  width:150px;
  height:36px;
}
#u11767 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u11768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:36px;
}
#u11768 {
  position:absolute;
  left:834px;
  top:359px;
  width:295px;
  height:36px;
}
#u11769 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u11770 {
  position:absolute;
  left:1129px;
  top:359px;
  width:120px;
  height:36px;
}
#u11771 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11773 {
  position:absolute;
  left:774px;
  top:1440px;
  width:23px;
  height:1175px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11774 {
  position:absolute;
  left:2px;
  top:580px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:1029px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11775 {
  position:absolute;
  left:724px;
  top:1513px;
  width:20px;
  height:1029px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11776 {
  position:absolute;
  left:2px;
  top:506px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11777 {
  position:absolute;
  left:1353px;
  top:2023px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11778 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11779 {
  position:absolute;
  left:200px;
  top:2023px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11780 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11782 {
  position:absolute;
  left:1350px;
  top:1688px;
  width:23px;
  height:309px;
}
#u11783 {
  position:absolute;
  left:2px;
  top:146px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:170px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11784 {
  position:absolute;
  left:1352px;
  top:1709px;
  width:19px;
  height:170px;
}
#u11785 {
  position:absolute;
  left:2px;
  top:77px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11786 {
  position:absolute;
  left:1353px;
  top:1693px;
  width:17px;
  height:10px;
}
#u11787 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11788 {
  position:absolute;
  left:1353px;
  top:1982px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11789 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11793 {
  position:absolute;
  left:263px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11794 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11795 {
  position:absolute;
  left:297px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11796 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11797 {
  position:absolute;
  left:331px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11798 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11799 {
  position:absolute;
  left:365px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11800 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11801 {
  position:absolute;
  left:399px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11802 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11803 {
  position:absolute;
  left:433px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11804 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11805 {
  position:absolute;
  left:467px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11806 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11807 {
  position:absolute;
  left:501px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11808 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11809 {
  position:absolute;
  left:535px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11810 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11811 {
  position:absolute;
  left:569px;
  top:2050px;
  width:24px;
  height:22px;
}
#u11812 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u11813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u11814 {
  position:absolute;
  left:605px;
  top:2052px;
  width:11px;
  height:18px;
}
#u11815 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u11816 {
  position:absolute;
  left:628px;
  top:2052px;
  width:19px;
  height:18px;
}
#u11817 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u11819 {
  position:absolute;
  left:240px;
  top:2052px;
  width:11px;
  height:18px;
}
#u11820 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u11821 {
  position:absolute;
  left:210px;
  top:2052px;
  width:19px;
  height:18px;
}
#u11822 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:162px;
}
#u11826 {
  position:absolute;
  left:162px;
  top:474px;
  width:1251px;
  height:162px;
  font-size:18px;
}
#u11827 {
  position:absolute;
  left:2px;
  top:73px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11828 {
  position:absolute;
  left:12px;
  top:517px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11829 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u11830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:956px;
}
#u11831 {
  position:absolute;
  left:162px;
  top:648px;
  width:1251px;
  height:956px;
  font-size:18px;
}
#u11832 {
  position:absolute;
  left:2px;
  top:470px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11833 {
  position:absolute;
  left:12px;
  top:765px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11834 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u11835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:297px;
}
#u11836 {
  position:absolute;
  left:162px;
  top:2090px;
  width:1251px;
  height:297px;
  font-size:18px;
}
#u11837 {
  position:absolute;
  left:2px;
  top:140px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11838 {
  position:absolute;
  left:12px;
  top:2164px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11839 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u11840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:466px;
}
#u11841 {
  position:absolute;
  left:162px;
  top:1614px;
  width:1312px;
  height:466px;
  font-size:18px;
}
#u11842 {
  position:absolute;
  left:2px;
  top:225px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11843 {
  position:absolute;
  left:12px;
  top:1703px;
  width:140px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11844 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u11845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:356px;
}
#u11846 {
  position:absolute;
  left:162px;
  top:108px;
  width:1251px;
  height:356px;
  font-size:18px;
}
#u11847 {
  position:absolute;
  left:2px;
  top:170px;
  width:1247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11848 {
  position:absolute;
  left:12px;
  top:235px;
  width:140px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u11849 {
  position:absolute;
  left:10px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u11850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:107px;
}
#u11851 {
  position:absolute;
  left:197px;
  top:767px;
  width:1113px;
  height:107px;
  font-size:18px;
}
#u11852 {
  position:absolute;
  left:2px;
  top:46px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11853 {
  position:absolute;
  left:544px;
  top:670px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11854 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11855 {
  position:absolute;
  left:1310px;
  top:821px;
  width:0px;
  height:0px;
}
#u11855_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u11855_seg1 {
  position:absolute;
  left:204px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11856 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11857 {
  position:absolute;
  left:1529px;
  top:794px;
  width:245px;
  height:54px;
  color:#000000;
}
#u11858 {
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u11859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:36px;
}
#u11859 {
  position:absolute;
  left:197px;
  top:666px;
  width:337px;
  height:36px;
  font-size:18px;
}
#u11860 {
  position:absolute;
  left:2px;
  top:10px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:36px;
}
#u11861 {
  position:absolute;
  left:595px;
  top:670px;
  width:337px;
  height:36px;
  font-size:18px;
}
#u11862 {
  position:absolute;
  left:2px;
  top:10px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11863 {
  position:absolute;
  left:932px;
  top:688px;
  width:0px;
  height:0px;
}
#u11863_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:541px;
  height:8px;
}
#u11863_seg1 {
  position:absolute;
  left:533px;
  top:-4px;
  width:8px;
  height:141px;
}
#u11863_seg2 {
  position:absolute;
  left:533px;
  top:129px;
  width:64px;
  height:8px;
}
#u11863_seg3 {
  position:absolute;
  left:582px;
  top:123px;
  width:20px;
  height:20px;
}
#u11864 {
  position:absolute;
  left:315px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
}
#u11866 {
  position:absolute;
  left:1249px;
  top:410px;
  width:124px;
  height:38px;
  font-size:18px;
}
#u11867 {
  position:absolute;
  left:2px;
  top:11px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11868 {
  position:absolute;
  left:1373px;
  top:429px;
  width:0px;
  height:0px;
}
#u11868_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u11868_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11869 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11870 {
  position:absolute;
  left:1529px;
  top:412px;
  width:225px;
  height:34px;
  color:#000000;
}
#u11871 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11873 {
  position:absolute;
  left:484px;
  top:898px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11874 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u11875 {
  position:absolute;
  left:329px;
  top:914px;
  width:171px;
  height:30px;
  font-size:18px;
}
#u11876 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11877 {
  position:absolute;
  left:1535px;
  top:911px;
  width:292px;
  height:36px;
  color:#000000;
}
#u11878 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u11879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11879 {
  position:absolute;
  left:980px;
  top:898px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11880 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
}
#u11881 {
  position:absolute;
  left:514px;
  top:914px;
  width:486px;
  height:30px;
  font-size:18px;
}
#u11882 {
  position:absolute;
  left:2px;
  top:7px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11883 {
  position:absolute;
  left:1000px;
  top:929px;
  width:0px;
  height:0px;
}
#u11883_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:539px;
  height:8px;
}
#u11883_seg1 {
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11884 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11885 {
  position:absolute;
  left:415px;
  top:944px;
  width:0px;
  height:0px;
}
#u11885_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:808px;
  height:8px;
}
#u11885_seg1 {
  position:absolute;
  left:800px;
  top:-19px;
  width:8px;
  height:23px;
}
#u11885_seg2 {
  position:absolute;
  left:800px;
  top:-19px;
  width:321px;
  height:8px;
}
#u11885_seg3 {
  position:absolute;
  left:1105px;
  top:-25px;
  width:20px;
  height:20px;
}
#u11886 {
  position:absolute;
  left:518px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:599px;
}
#u11888 {
  position:absolute;
  left:221px;
  top:912px;
  width:100px;
  height:599px;
  font-size:18px;
}
#u11889 {
  position:absolute;
  left:2px;
  top:292px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11890 {
  position:absolute;
  left:271px;
  top:1511px;
  width:0px;
  height:0px;
}
#u11890_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u11890_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:1268px;
  height:8px;
}
#u11890_seg2 {
  position:absolute;
  left:1249px;
  top:1px;
  width:20px;
  height:20px;
}
#u11891 {
  position:absolute;
  left:576px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11892 {
  position:absolute;
  left:1535px;
  top:1505px;
  width:128px;
  height:34px;
  color:#000000;
}
#u11893 {
  position:absolute;
  left:10px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u11894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u11895 {
  position:absolute;
  left:329px;
  top:948px;
  width:435px;
  height:30px;
  font-size:18px;
}
#u11896 {
  position:absolute;
  left:2px;
  top:7px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11897 {
  position:absolute;
  left:1535px;
  top:960px;
  width:319px;
  height:50px;
  color:#000000;
}
#u11898 {
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
#u11899 {
  position:absolute;
  left:764px;
  top:963px;
  width:0px;
  height:0px;
}
#u11899_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:712px;
  height:8px;
}
#u11899_seg1 {
  position:absolute;
  left:704px;
  top:-4px;
  width:8px;
  height:30px;
}
#u11899_seg2 {
  position:absolute;
  left:704px;
  top:18px;
  width:67px;
  height:8px;
}
#u11899_seg3 {
  position:absolute;
  left:756px;
  top:12px;
  width:20px;
  height:20px;
}
#u11900 {
  position:absolute;
  left:346px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11901 {
  position:absolute;
  left:437px;
  top:954px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11902 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11903 {
  position:absolute;
  left:754px;
  top:953px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u11904 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:497px;
}
#u11906 {
  position:absolute;
  left:326px;
  top:983px;
  width:725px;
  height:497px;
  font-size:18px;
}
#u11907 {
  position:absolute;
  left:2px;
  top:240px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11908 {
  position:absolute;
  left:1535px;
  top:1207px;
  width:174px;
  height:50px;
  color:#000000;
}
#u11909 {
  position:absolute;
  left:10px;
  top:17px;
  width:154px;
  word-wrap:break-word;
}
#u11910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11910 {
  position:absolute;
  left:559px;
  top:1214px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11911 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11912 {
  position:absolute;
  left:1051px;
  top:1232px;
  width:0px;
  height:0px;
}
#u11912_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:488px;
  height:8px;
}
#u11912_seg1 {
  position:absolute;
  left:469px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11913 {
  position:absolute;
  left:192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11914 {
  position:absolute;
  left:955px;
  top:1214px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11915 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11916 {
  position:absolute;
  left:439px;
  top:1451px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11917 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:97px;
}
#u11919 {
  position:absolute;
  left:197px;
  top:118px;
  width:1176px;
  height:97px;
  font-size:18px;
}
#u11920 {
  position:absolute;
  left:2px;
  top:40px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11921 {
  position:absolute;
  left:1373px;
  top:167px;
  width:0px;
  height:0px;
}
#u11921_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u11921_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11922 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11923 {
  position:absolute;
  left:1529px;
  top:143px;
  width:225px;
  height:48px;
  color:#000000;
}
#u11924 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:37px;
}
#u11926 {
  position:absolute;
  left:194px;
  top:317px;
  width:752px;
  height:37px;
  font-size:18px;
}
#u11927 {
  position:absolute;
  left:2px;
  top:10px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11928 {
  position:absolute;
  left:570px;
  top:354px;
  width:0px;
  height:0px;
}
#u11928_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u11928_seg1 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:901px;
  height:8px;
}
#u11928_seg2 {
  position:absolute;
  left:889px;
  top:-1px;
  width:8px;
  height:28px;
}
#u11928_seg3 {
  position:absolute;
  left:889px;
  top:19px;
  width:70px;
  height:8px;
}
#u11928_seg4 {
  position:absolute;
  left:944px;
  top:13px;
  width:20px;
  height:20px;
}
#u11929 {
  position:absolute;
  left:438px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11930 {
  position:absolute;
  left:1529px;
  top:352px;
  width:225px;
  height:50px;
  color:#000000;
}
#u11931 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:95px;
}
#u11933 {
  position:absolute;
  left:188px;
  top:220px;
  width:1197px;
  height:95px;
  font-size:18px;
}
#u11934 {
  position:absolute;
  left:2px;
  top:40px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11935 {
  position:absolute;
  left:1385px;
  top:268px;
  width:0px;
  height:0px;
}
#u11935_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u11935_seg1 {
  position:absolute;
  left:129px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11936 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11937 {
  position:absolute;
  left:1529px;
  top:239px;
  width:225px;
  height:57px;
  color:#000000;
}
#u11938 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11939 {
  position:absolute;
  left:341px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11941 {
  position:absolute;
  left:684px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11942 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11943 {
  position:absolute;
  left:1211px;
  top:252px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u11944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u11945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:57px;
}
#u11946 {
  position:absolute;
  left:215px;
  top:516px;
  width:71px;
  height:57px;
  font-size:18px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948 {
  position:absolute;
  left:286px;
  top:545px;
  width:0px;
  height:0px;
}
#u11948_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u11948_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1085px;
  height:8px;
}
#u11948_seg2 {
  position:absolute;
  left:1073px;
  top:-4px;
  width:8px;
  height:9px;
}
#u11948_seg3 {
  position:absolute;
  left:1073px;
  top:-4px;
  width:114px;
  height:8px;
}
#u11948_seg4 {
  position:absolute;
  left:1179px;
  top:-4px;
  width:8px;
  height:54px;
}
#u11948_seg5 {
  position:absolute;
  left:1179px;
  top:42px;
  width:64px;
  height:8px;
}
#u11948_seg6 {
  position:absolute;
  left:1228px;
  top:36px;
  width:20px;
  height:20px;
}
#u11949 {
  position:absolute;
  left:594px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11950 {
  position:absolute;
  left:1529px;
  top:574px;
  width:225px;
  height:34px;
  color:#000000;
}
#u11951 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u11952 {
  position:absolute;
  left:205px;
  top:576px;
  width:81px;
  height:28px;
  font-size:18px;
}
#u11953 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11954 {
  position:absolute;
  left:286px;
  top:590px;
  width:0px;
  height:0px;
}
#u11954_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u11954_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:1247px;
  height:8px;
}
#u11954_seg2 {
  position:absolute;
  left:1228px;
  top:-9px;
  width:20px;
  height:20px;
}
#u11955 {
  position:absolute;
  left:571px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:35px;
}
#u11957 {
  position:absolute;
  left:176px;
  top:480px;
  width:1189px;
  height:35px;
  font-size:18px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:10px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959 {
  position:absolute;
  left:1365px;
  top:498px;
  width:0px;
  height:0px;
}
#u11959_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:168px;
  height:8px;
}
#u11959_seg1 {
  position:absolute;
  left:149px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11960 {
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11961 {
  position:absolute;
  left:1529px;
  top:473px;
  width:225px;
  height:50px;
  color:#000000;
}
#u11962 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:70px;
}
#u11964 {
  position:absolute;
  left:188px;
  top:2148px;
  width:1185px;
  height:70px;
  font-size:18px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:27px;
  width:1181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966 {
  position:absolute;
  left:1373px;
  top:2183px;
  width:0px;
  height:0px;
}
#u11966_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u11966_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11967 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11968 {
  position:absolute;
  left:1529px;
  top:2130px;
  width:355px;
  height:106px;
  color:#000000;
}
#u11969 {
  position:absolute;
  left:10px;
  top:21px;
  width:335px;
  word-wrap:break-word;
}
#u11970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:57px;
}
#u11971 {
  position:absolute;
  left:205px;
  top:1635px;
  width:1254px;
  height:57px;
  font-size:18px;
}
#u11972 {
  position:absolute;
  left:2px;
  top:20px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11973 {
  position:absolute;
  left:1459px;
  top:1664px;
  width:0px;
  height:0px;
}
#u11973_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u11973_seg1 {
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11974 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11975 {
  position:absolute;
  left:1535px;
  top:1635px;
  width:270px;
  height:57px;
  color:#000000;
}
#u11976 {
  position:absolute;
  left:10px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u11977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:366px;
}
#u11978 {
  position:absolute;
  left:889px;
  top:1636px;
  width:451px;
  height:366px;
  font-size:18px;
}
#u11979 {
  position:absolute;
  left:2px;
  top:175px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11980 {
  position:absolute;
  left:1340px;
  top:1819px;
  width:0px;
  height:0px;
}
#u11980_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u11980_seg1 {
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11981 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11982 {
  position:absolute;
  left:1535px;
  top:1776px;
  width:270px;
  height:85px;
  color:#000000;
}
#u11983 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u11984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:38px;
}
#u11985 {
  position:absolute;
  left:987px;
  top:317px;
  width:295px;
  height:38px;
  font-size:18px;
}
#u11986 {
  position:absolute;
  left:2px;
  top:11px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11987 {
  position:absolute;
  left:1282px;
  top:336px;
  width:0px;
  height:0px;
}
#u11987_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:630px;
  height:8px;
}
#u11987_seg1 {
  position:absolute;
  left:611px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11988 {
  position:absolute;
  left:263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11989 {
  position:absolute;
  left:1908px;
  top:312px;
  width:225px;
  height:47px;
  color:#000000;
}
#u11990 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:683px;
}
#u11991 {
  position:absolute;
  left:2167px;
  top:312px;
  width:1062px;
  height:683px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:334px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:110px;
}
#u11994 {
  position:absolute;
  left:194px;
  top:352px;
  width:683px;
  height:110px;
  font-size:18px;
}
#u11995 {
  position:absolute;
  left:2px;
  top:47px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11996 {
  position:absolute;
  left:877px;
  top:407px;
  width:0px;
  height:0px;
}
#u11996_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u11996_seg1 {
  position:absolute;
  left:196px;
  top:-4px;
  width:8px;
  height:65px;
}
#u11996_seg2 {
  position:absolute;
  left:196px;
  top:53px;
  width:835px;
  height:8px;
}
#u11996_seg3 {
  position:absolute;
  left:1016px;
  top:47px;
  width:20px;
  height:20px;
}
#u11997 {
  position:absolute;
  left:437px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u11998 {
  position:absolute;
  left:1908px;
  top:430px;
  width:249px;
  height:67px;
  color:#000000;
}
#u11999 {
  position:absolute;
  left:10px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u12000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12000 {
  position:absolute;
  left:1410px;
  top:68px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
