body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:760px;
}
#u11584 {
  position:absolute;
  left:50px;
  top:50px;
  width:1420px;
  height:760px;
}
#u11585 {
  position:absolute;
  left:2px;
  top:372px;
  width:1416px;
  visibility:hidden;
  word-wrap:break-word;
}
