body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:493px;
}
#u25568 {
  position:absolute;
  left:50px;
  top:50px;
  width:1437px;
  height:493px;
}
#u25569 {
  position:absolute;
  left:2px;
  top:238px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
