body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:543px;
}
#u12084 {
  position:absolute;
  left:70px;
  top:110px;
  width:1068px;
  height:543px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:264px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:200px;
}
#u12087 {
  position:absolute;
  left:53px;
  top:1185px;
  width:1322px;
  height:200px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:92px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:559px;
}
#u12089 {
  position:absolute;
  left:53px;
  top:626px;
  width:1322px;
  height:559px;
}
#u12090 {
  position:absolute;
  left:2px;
  top:272px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12091 {
  position:absolute;
  left:40px;
  top:1133px;
  width:20px;
  height:20px;
}
#u12092 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12093 {
  position:absolute;
  left:40px;
  top:677px;
  width:20px;
  height:20px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12096 {
  position:absolute;
  left:288px;
  top:227px;
  width:195px;
  height:170px;
}
#u12097 {
  position:absolute;
  left:2px;
  top:77px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12098 {
  position:absolute;
  left:288px;
  top:227px;
  width:195px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12099 {
  position:absolute;
  left:40px;
  top:1446px;
  width:20px;
  height:20px;
}
#u12100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:275px;
}
#u12101 {
  position:absolute;
  left:53px;
  top:1466px;
  width:1183px;
  height:275px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:130px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
